body{
  background-color: white;
  padding: 5px;
}
h1,p{
  color: #000000;
}

.oneCurrencyText{
  color: #70757a;
  font-family: Roboto, Arial, HelveticaNeue, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.rateText{
  color: #202124;
  font-family: Google sans, arial, sans-serif;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: normal;
}
.date{
  color: #70757a;
  margin-bottom: 16px;
  font-size: 12px;
}